<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shizuru&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <h4>The family of Kylie</h4>
      <p>
        The Kardashian family, also referred to as the Kardashian–Jenner
        family,is an American family prominent in the fields of entertainment,
        reality television, fashion design, and business. Founded by Robert
        Kardashian and Kris Jenner, it consists of their children Kourtney, Kim,
        Khloé, and Rob Kardashian, as well as their grandchildren. After Robert
        and Kris' divorce in 1991, Kris married Caitlyn Jenner (then Bruce),
        with whom she had two daughters: Kendall and Kylie Jenner. Notable
        extended relatives include Kendall and Kylie's half-siblings (through
        Caitlyn and her marriage to actress Linda Thompson), Brandon and Brody
        Jenner.
      </p>
    </section>
    <img
      class="pictures"
      src="images/gallery-1475261773-hbz-092916-kardashians-01.jpg"
    />
    <br />
    <button onclick="history.back()">Go Back</button>
  </body>
</html>
